<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/lg.png') }}">

    <title>LUNGO</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">

        <div class="nav-right">
             <div class="nav-right">Pneumonia Detection</div>
        </div>

        <ul class="nav-center">
            <li><a href="/">الرئيسية</a></li>
            <li><a href="/upload">رفع الصورة</a></li>
            <li><a href="/about">عن المشروع</a></li>
        </ul>

        <div class="nav-left">
            <span class="brand-name"> LUNGO</span>
            <img src="/static/images/cc.png" class="lung-logo" alt="logo">
        </div>

    </nav>


    <div class="container about-container">
        <h2> عن مشروع الكشف عن الالتهاب الرئوي باستخدام التعلم العميق</h2>

        <div class="about-card">
            <section class="about-section introduction">
                <h3> الهدف والرؤية</h3>
                <p>هذا المشروع يستخدم تقنيات التعلم العميق لاكتشاف الالتهاب الرئوي من صور الأشعة السينية و يهدف النظام إلى تقديم أداة تشخيصية مساعدة سريعة ودقيقة للأطباء مما يساهم في الكشف المبكر عن المرض وتحسين الرعاية الصحية.</p>
            </section>

            <section class="about-section technical-details">
                <h3> المنهجية والتقنيات</h3>
                <p>
                    يعتمد المشروع على تقنيات التعلم العميق لتحليل صور الأشعة السينية للرئة باستخدام شبكة عصبية 
                    التفافية CNN حيث تم تدريب عدة نماذج واختيار الأفضل من حيث الأداء. 
                    تم تطوير واجهة الويب باستخدام Flask لتمكين رفع الصورة وتحليلها وعرض النتائج مع امكانية تحميل النتيجة كتقرير Pdf 
                    يحوي على نتيجة التحليل وصورة الأشعة ونسبة الثقة والتاريخ.
                </p>
                
            </section>

            <section class="about-section team">
                <h3> فريق العمل</h3>
                <p>تم تطوير هذا النظام من قبل فريقنا كجزء من متطلبات التخرج، حيث قمنا بالمهام التالية:</p>
                <ul class="method-list">
                    <li>جمع بيانات صور الأشعة المصنفة (سليم / التهاب رئوي)</li>
                    <li>معالجة الصور وتوحيد الأبعاد</li>
                    <li>تدريب عدة نماذج ومقارنة الأداء</li>
                    <li>اختيار النموذج الأفضل</li>
                    <li>تصميم واجهة مناسبة لعرض النتائج</li>
                    <li>ربط النموذج بواجهة الويب لتمكين الاستخدام العملي</li>
                </ul>
            </section>
        </div>

        <div class="disclaimer-note">
            <p>💡 ملاحظة: هذه الأداة مخصصة للدراسة الأكاديمية ولا تُعتبر تشخيصاً طبياً نهائياً.</p>
        </div>
    </div>
</body>
</html>